/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 2;
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Nato Sans", sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}
.masthead {
    padding: 12em 0;
    background-image: url('http://i.imgur.com/M7h1NKK.png');
    background-repeat: no-repeat;
    background-size: 75%;
    border-top: solid 1em #000000;
}

.masthead-intro {
    margin-bottom: 0.1em;
    h2 font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
/***
Projects Section
*/
.projects {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 3rem;
}
.projects .content {
    margin-top: 5rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.projects h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0px 3.125rem;
    font-weight: 300;
}
.projects .projects-first > li {
  width: 33.3333333%;
  float: left;
  padding-left: 10%;
  
}
.projects .projects-first h3 {
  font-weight: 400;
  font-size: 1.563rem;
  margin: .1rem 0px 1.875rem;
}
/**
*Footer
*/
.content-footer {
  /* Red, Green, Blue: #RRGGBB */
  background-color: #000000;
  color: white;
  margin-top: 5em;
  padding: 4em 0;
}
.social {
  padding: 0;
}
.social > li {
    display: inline-block;
}
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 500;
    letter-spacing: 0.05em;
}
.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;font-size: 1.2em;font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}
section > h1 {
    margin-top: 2em;
}
  h3 {
  color: #FF530D;
}
a {color: #FF530D; text-decoration: none;  
}
a:hover {color: #ffffff; text-decoration: none; 
}
/***responsive section
*/
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
      font-size: 3em;
    }
}